# Code owners for ops_model.
#
# GitHub automatically requests reviews from the owners listed here when a pull
# request modifies files they own. Everyone listed must have at least write
# access to the repository, or they will not be requested.

# Default owners for everything in the repo
*       @ahillsley @gav-sturm
